---
aliases: ""
tags: []
---
# VERIFICATION
A process by which an independent verifier conducts testing of a FIRM on a firm-wide basis, in accordance with the [[REQUIRE (REQUIREMENT)|REQUIRED]] verification procedures of the GIPS standards.