---
aliases:
  - VERIFICATION REPORTS
tags: []
---
# VERIFICATION REPORT
A report issued by an independent verifier after a [[VERIFICATION]] has been performed.